

.page-container{
    margin-left:100px;
    margin-right:100px;
    margin-top: 52px;
    margin-bottom:52px;
    background-color: #FEFDFD;
}

.heading-container{
    display:flex;
    flex-direction: row;
}

.Project-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 346px;
    height: 60px;
    background: #302F2F;
    margin-left:15px;
    font-family: Berlin Sans FB;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
    color: #FEFDFD;
    padding-inline-start: 100px;
    
}

.link-newproject{
    display:flex;
    margin-left:500px;
    align-items: center;
    width: 67px;
    height: 60px;
    background: #4392EF;
    font-family: Berlin Sans FB;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 50px;
    color: #ECE4E4;
}

.link-newproject:hover{
    color: #121212;
}

.newproject-text{
    width: 346px;
    height: 60px;
    margin-right:20px;
    background: #302F2F;
    font-family: Berlin Sans FB;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 55px;
    color: #FEFDFD;
    padding-inline-start: 74px;

}

.cardsdisplay{
display : grid;
grid-row-gap: 48px;
grid-column-gap: 48px;
grid-template-columns: auto auto auto auto;
grid-template-rows: auto auto auto ;
}
